html {
  height:100%;
}

body{
  background-color: #F7F7F7;
  height: 100%;
  margin: 0;
}

.star img{
  width:5vw;
  padding-left:1vw;
  padding-top:1vw;
}

.my_name {
  position: absolute;
  left: 5%;
  top: 60%;
  font-family: 'Archivo', sans-serif;
  font-size: 4.2vw;
  opacity:0;
  transition: opacity 0.7s ease-out;
}

.to_close {
  float:left;
  background-color: blue;
  width:100px;
  height:100px;
}

.tabs {
  height:100%;
  float: right;
  display:flex;
}

.works {
  background-color: #E9896A;
  width:80vw;
  height: 100%;
  transition: width 0.8s ease-out;
  writing-mode: vertical-rl;
  text-align: center;
  color:black;
  font-family: 'Archivo', sans-serif;
  position: relative;
}

.about {
  background-color: #387C6D;
  width:4vw;
  height: 100%;
  transition: width 0.8s ease-out;
  position: relative;
}

.contact {
  background-color: #343F56;
  width:4vw;
  height: 100%;
  transition: width 0.8s ease-out;
  writing-mode: vertical-rl;
  text-align: center;
  color:black;
  font-family: 'Archivo', sans-serif;
  position: relative;
}

.tangerine {
  width: 25vw;
  height: 25vw;
  opacity:0;
  transition: opacity 0.7s ease-out 1s;
}

.abstract {
  width: 100%;
  height: 100vh;
}

.overlay {
  width:80%;
  height:80%;
  background-color: #387C6D;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: normal;
  overflow: scroll;
}

.me_pic {
  height:30vw;
  width:auto;
}

.on_overlay {
  display:flex;
  margin:2vw;
}

.text_about {
  padding: 2vw;
  font-family: 'Playfair Display', serif;
  color:whitesmoke;
  line-height:2.5;
}

h2 {
  text-align: center;
  font-family: 'Archivo', sans-serif;
}

.about_me_content {
  opacity:0;
  transition: opacity 0.7s ease-out 1s;
}

a .to_center{
  text-decoration: none;
  color:black;
}

.to_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
  .on_overlay {
    flex-direction: column;
    align-items: center;
  }

  .me_pic {
    order: 1;
  }

  .text_about {
    order: 2;
  }
}
